.App {
  text-align: center;
  border: 3px dotted #f1723e;
  width: 25em;
  height: 500px;
  margin: 0.5em;
  padding: 1em;

  font-family: Roboto, sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
form{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

input{
  width: 80%;
  height: 20px;
  margin-bottom: 1em;
}
.offline{
  color: #f1723e ;
  font-size: x-large;
  font-weight: bold;
}