.Overlay {
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100vh - 30px);
  pointer-events: none;
  z-index: 10000000;

  border-radius: 5px;
  background: linear-gradient(135deg, rgba(242,246,248,0.1) 0%, rgba(240,244,247,0.025) 4%, rgba(216,225,231,0.02) 50%, rgba(181,198,208,0.02) 51%, rgba(220,236,246,0.025) 96%, rgba(224,239,249,0.1) 100%);
  backdrop-filter: blur(0.25px) saturate(100%) contrast(95%) brightness(110%);
  border: 1px outset rgba(155, 155, 155, 0.5);
  border-right-color: rgba(155, 155, 155, 0.25);
  border-bottom-color: rgba(155, 155, 155, 0.25);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);

  transition: opacity 3s ease-in ;
}

.Overlay > * {
  pointer-events: auto;
}
